*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',sans-serif;
    background-color: beige;
}

.container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container .item{
    font-size: 32px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

img{
	max-width: 350px;
	border-radius: 30px;    
}


#changeCat{
    max-width: 150px;
    font-size: 24px;
    color: white;
    background-color: orangered;
}